body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color:orange;
}

#cabecalho .nav .nav-link.active{
    background-color: beige;
    color: orange;
}

#cabecalho,.nav-link,
.navbar-brand,
.navbar-brand:hover
.nav-cardapio .nav-link.active:hover{
    color: beige;
}

.navbar-brand{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 250%;
}

.navbar-toggler{
    background-color: beige;
}

.section-title{
    font-family: "Josefin Sans", sans-serif;
}


#sobre-o-restaurante, #cardapio{
    background-color: bisque;
}

.text-colored{
    color: rgb(0, 81, 139);
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: rgb(0, 81, 139);
    color: bisque;
}

.nav-cardapio .nav-link.active:hover{
    color:bisque;
}

.social-links li{
    list-style: none;
    display: inline;
    
}

.social-links a{
    text-decoration: none;
}

.nav-link:hover{
    color:  rgb(0, 81, 139);
}



@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }
}

@media (min-width: 1124px){
    .carousel-item img{
        height: 720px;
        width: 100%;
    }
}










/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
*/ 